@charset "utf-8";
/* 基础样式 made by CXH*/

*{ padding:0; margin:0;}
body{ font-family:'Microsoft Yahei'; font-size:12px; color:#000;}
ul,ol,dl{ list-style:none;}
h1,h2,h3,h4,h5,h6,strong,b{font-weight:normal; font-size:12px;}
i,em{ font-style:normal;}
a{ color:#000; text-decoration:none;}
img{ border:0; vertical-align:top;}
table{ border-collapse:collapse;border-spacing:0;}
th{ text-align:inherit;}
caption,th { text-align:left; }

.nav_font{color: #343434;font-size: 18px}
.h1{color: #343434;font-size: 16px ; font-weight: bold;}
.nav_font_hover{font-size:18px;font-weight: bold; color: #2b59b1;}
.reg_font,.login_font,.user_font{color: #9b9b9b;font-size: 12px;}
/*表单样式*/
.inp_def_val{font-size: 14px;  color: #aeb4c2;}
.inp_val{font-size:14px;color: #506388;}
.inp_error{font-size:14px;color: #cf523c;}
.inp_before{color: #7c88b7;font-size: 14px;font-weight: bold;}

button{
    cursor: pointer;
}
.region{font-size: 12px; font-weight: bold; color: #8594b1;}
.region_text{font-size: 12px; color: #7b7c80;}
.btn_font{color: #fffdff;font-weight: bold;font-size: 14px;}
.green_btn_font{color: #357e35;font-size: 12px;}
.green_btn{border: 1px solid  #357e35;border-radius: 5px; }
.clearfix:after{ display:block; content:''; clear:both;}

/*常用class*/
.fl{ float: left; }
.fr{ float: right; }
.ml10{ margin-left: 10px; }
.ml14{ margin-left: 14px; }
.mt20{ margin-top: 20px; }
.ml30{  margin-left: 30px;}
.m10{
    margin: 10px auto;
}


